p{
    background-color: antiquewhite;
}
table,th,td{
    border: 1px solid black;

}
table{
    border-width: 100%;
    width:100%;
     border-collapse: collapse;
}

/* tr{
    width: 100px;;
}

td{
    text-align: center;
} */

.center{
    text-align: center;
}

table thead tr:nth-child(1){
    background-color:violet;
}

table tbody tr:nth-child(even){
    background-color: beige;
}

table tbody tr:nth-child(even):hover{
    background-color: azure;
}

tr:hover{
    background-color: azure;
}